.navmenu {
  font-family: 'Yeseva One';
  font-size: 21px;
  padding: 25px;
  text-transform: uppercase;
  background-image: url('../../assets/logo.png');
  background-repeat: no-repeat;
  background-position: calc(50% - 21px);
  border-bottom: 1px solid #000;
  position: relative;
  cursor: pointer;

  .handle-close-menu {
    position: absolute;
    left: 298px;
    top: 0;
    pointer-events: all;
    width: calc(100% - 298px);
    height: 100vh;
  }
}

.toggle-button {
  width: 4%;
  cursor: pointer;

  &.active {
    text-decoration: underline;
    transition: 1s;
  }
}

.slide-menu {
  top: 75px;
  left: -305px;
  width: 300px;
  height: calc(100vh - 78px);
  position: absolute;
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
  transition: 0.4s;
  font-size: 17px;
  background-color: #fff;
  z-index: 10;
  border-left: none;

  &.active {
    left: 0;
    transition: 0.4s;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }
  }
}

.submenu {
  top: 75px;
  left: -305px;
  width: 300px;
  height: calc(100vh - 78px);
  position: absolute;
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
  transition: 0.4s;
  font-size: 17px;
  background-color: #fff;
  z-index: 20;
  border-left: none;

  &.active {
    left: 0;
    transition: 0.4s;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }
  }

  .close-menu {
    background-size: 20px;
    border-bottom: 1px solid #000;

    p {
      padding-right: 25px;
      text-align: right;
    }
  }
}

.menu-item {
  padding: 25px;
  border-bottom: 1px solid #000;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  &.arrow {
    background-image: url('../../assets/arrow.png');
    background-repeat: no-repeat;
    background-position: center right 15px;
    background-size: 20px;
  }
}